HelloWorldDriver/UnitTestTextTo/obj/Debug/UnitTestTextTo.csproj.CopyComplete
HelloWorldDriver/UnitTestTextTo/obj/Debug/UnitTestTextTo.csproj.CoreCompileInputs.cache
HelloWorldDriver/UnitTestTextTo/obj/Debug/UnitTestTextTo.csproj.FileListAbsolute.txt
HelloWorldDriver/UnitTestTextTo/obj/Debug/UnitTestTextTo.csprojResolveAssemblyReference.cache
HelloWorldDriver/UnitTestTextTo/obj/Debug/UnitTestTextTo.dll
*.pdb
HelloWorldDriver/UnitTestTextTo/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
HelloWorldDriver/UnitTestTextTo/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
HelloWorldDriver/UnitTestTextTo/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
HelloWorldDriver/UnitTestTextTo/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
HelloWorldDriver/HelloWorldDriver/obj/Debug/DesignTimeResolveAssemblyReferences.cache
HelloWorldDriver/HelloWorldDriver/HelloWorldDriver.csproj.user
HelloWorldDriver/HelloWorldDriver/obj/Debug/HelloWorldDriver.exe
HelloWorldDriver/HelloWorldDriver/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
HelloWorldDriver/HelloWorldDriver/obj/Debug/HelloWorldDriver.csproj.FileListAbsolute.txt
HelloWorldDriver/HelloWorldDriver/obj/Debug/HelloWorldDriver.csproj.CoreCompileInputs.cache
HelloWorldDriver/HelloWorldDriver/obj/Debug/HelloWorldDriver.csprojResolveAssemblyReference.cache
HelloWorldDriver/HelloWorldDriver/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
HelloWorldDriver/HelloWorldDriver/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
HelloWorldDriver/HelloWorldDriver/obj/Debug/HelloWorldDriver.csproj.CopyComplete
HelloWorldDriver/HelloWorldDriver/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
HelloWorldDriver/TextToLibUniversalWindows/bin/Debug/TextToLibUniversalWindows.dll