<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <configSections>
      <sectionGroup name="WriteDestinations">
         <section name="Destinations" type="System.Configuration.DictionarySectionHandler"/>
      </sectionGroup>
   </configSections>
   <WriteDestinations>
      <Destinations>
         <add key="CONSOLE" value="NONE"/>
         <add key="DATABASE" value="PUT CONNECTION STRING INFO HERE"/>
         <add key="MOBILE"   value="PUT APPLICATION SERVER ADDRESS INFO HERE"/>
      </Destinations>
   </WriteDestinations>
   <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
   </startup>
</configuration>